/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  overflow: hidden; 
}

@layer utilities {
  /* Ẩn thanh cuộn cho Chrome, Safari và Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Ẩn thanh cuộn cho IE, Edge và Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}